<%- include('../header') %>
    <%- include('./adminNavbar') %>

        <div class=" d-flex">
            <%- include('./adminpanel') %>

                <!-- product section -->
                <div class="col-lg-8 col-md-8 container-fluid mb-3"
                    style="background-color: #ffffff; color: white;margin-top: 100px;">
                    <div class="mt-5">

                        <!-- PRODUCT NAME -->
                        <form action="/editProduct?id=<%=  product._id %>" method="post" enctype="multipart/form-data"
                            class="mb-3">
                            <div class="form-group d-flex align-items-center flex-column custom-form">
                                <label class="text-dark col-md-4 control-label" for="product_name">PRODUCT NAME</label>
                                <div class="col-md-6">
                                    <input id="product_name" placeholder="PRODUCT NAME"
                                        class="border border-dark form-control input-md mb-3 custom-form" required=""
                                        type="text" name="name" value="<%= product.name %>">

                                </div>
                            </div>
                            <!-- BRAND NAME -->
                            <div class="form-group d-flex align-items-center flex-column custom-form">
                                <label class="text-dark col-md-4 control-label" for="product_name">BRAND NAME</label>
                                <div class="col-md-6">
                                    <input id="product_name" placeholder="PRODUCT NAME"
                                        class="border border-dark form-control input-md mb-3 custom-form" required=""
                                        type="text" name="brand" value="<%= product.brand %>">

                                </div>
                            </div>

                            <!--PRODUCT CATEGORY -->
                            <div class="form-group d-flex align-items-center flex-column custom-form">
                                <label class="text-dark col-md-4 control-label " for="product_categorie">PRODUCT
                                    CATEGORY</label>
                                <div class="col-md-6">
                                    <select id="product_categorie"
                                        class="border border-dark form-control mb-3 custom-form border border-dark"
                                        name="category">
                                        <option selected>
                                            <%= product.category %>
                                        </option>
                                        <option value="football">football</option>
                                        <option value="Cricket">Cricket</option>
                                        <option value="Cricket">Athelete</option>
                                        <option value="Cricket">Badminton</option>
                                        <option value="Cricket">Tennis</option>
                                        <option value="Cricket">volleyBall</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div>

                            <!-- AVAILABLE QUANTITY-->
                            <div class="form-group d-flex align-items-center flex-column custom-form">
                                <label class="text-dark col-md-4 control-label " for="available_quantity">AVAILABLE
                                    QUANTITY</label>
                                <div class="col-md-6">
                                    <input id="available_quantity"
                                        class="border border-dark form-control input-md mb-3 custom-form" required=""
                                        type="text" name="quantity" value="<%= product.quantity %>">

                                </div>
                            </div>

                            <!-- PRICE -->

                            <div class="form-group d-flex align-items-center flex-column custom-form">
                                <label class="text-dark col-md-4 control-label " for="available_quantity">PRICE</label>
                                <div class="col-md-6">
                                    <input id="available_quantity" placeholder="price"
                                        class="border border-dark form-control input-md mb-3 custom-form" required=""
                                        type="text" name="price" value="<%= product.price %>">
                                </div>
                            </div>

                            <!--PRODUCT DESCRIPTION -->

                            <div class="form-group d-flex align-items-center flex-column custom-form">
                                <label class="text-dark col-md-4 control-label " for="product_description">PRODUCT
                                    DESCRIPTION</label>
                                <div class="col-md-6 custom-form">
                                    <textarea class="border border-dark form-control mb-3" id="product_description"
                                        name="discription"><%= product.discription %></textarea>
                                </div>
                            </div>

                            <!-- Details  -->
                            <div class="form-group d-flex align-items-center flex-column custom-form">
                                <label class="text-dark col-md-4 control-label " for="product_description">PRODUCT
                                    DETAILS</label>
                                <div class="col-md-6 custom-form">
                                    <textarea class="border border-dark form-control mb-3" id="product_description"
                                        name="details"
                                        placeholder="provide product details here "><%= product.details[0] %></textarea>
                                </div>
                                <div class="col-md-6 custom-form">
                                    <textarea class="border border-dark form-control mb-3" id="product_description"
                                        name="details"
                                        placeholder="provide product details here "><%= product.details[1] %></textarea>
                                </div>
                                <div class="col-md-6 custom-form">
                                    <textarea class="border border-dark form-control mb-3" id="product_description"
                                        name="details"
                                        placeholder="provide product details here "><%= product.details[2] %></textarea>
                                </div>
                            </div>

                            <!-- DISCOUNT -->
                            <div class="form-group d-flex align-items-center flex-column custom-form">
                                <label class="text-dark col-md-4 control-label "
                                    for="available_quantity">DISCOUNT</label>
                                <div class="col-md-6">
                                    <input id="available_quantity" placeholder="add 0 if there is no discount"
                                        class="border border-dark form-control input-md mb-3 custom-form" required="" value="<%= product.discount %>"
                                        type="text" name="discount">
                                </div>
                            </div>

                            <!-- IMAGE-->
                            <div class=" d-flex align-items-center justify-content-center">
                                <% product.image.forEach((picture,index)=>{ %>
                                    <ul class="">
                                        <li class="d-flex"><img src="<%= picture %>" alt=""
                                                style="width: 60px;height: 60px;"></li>
                                        <a class="border-0 rounded-3 cursor-pointer d-flex align-items-center justify-content-center mt-2"
                                            href="/imageDelete?id=<%= product._id %>&&index=<%= index %>"><i
                                                class="fa-solid fa-trash text-danger"></i></a>
                                    </ul>

                                    <% }) %>
                            </div>


                            <div
                                class="form-group d-flex align-items-center justify-content-center ms-5 flex-column mb-2">
                                <label class="text-dark col-md-4 control-label " for="filebutton">Image</label>
                                <div class="col-md-4">
                                    <input id="filebutton" class="input-file custom-form text-danger cursor-pointer"
                                        type="file" name="image" multiple>
                                </div>
                            </div>

                            <!-- Button -->
                            <div
                                class="form-group d-flex align-items-center flex-column d-flex align-items-center justify-content-center ms-5">
                                <div class="col-md-4">
                                    <button id="singlebutton" class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
